<%include header%>

	<p>首页>全部课程</p>
	<!-- 怎么做出中国大学MOOC那样的效果https://www.icourse163.org/category/all -->
	<!-- 或者有什么替代 -->

	<!-- 这个nav的效果似乎跟我想象的不太一样 -->
	<nav>
		<ul>
			<a href="">全部</a>
			<a href="">计算机</a>
			<a href="">经济</a>
			<a href="">教育</a>
			<a href="">工学</a>
			<a href="">外语</a>
			<a href="">...</a>
			<!-- 似乎还应该要去掉下划线 -->
		</ul>
	</nav>
	<!-- 下面应该是加载出来对应课程的列表 -->
	<!-- 需要从数据库获取 -->
	<!-- 分页效果 -->

<%include footer%>