<!DOCTYPE html>
<html>
<head>
	<title>MOOC微课程学习平台</title>
	<meta charset="utf-8">
</head>
<body>
	<header>
		<!-- 此处应引入header -->
	</header>

	<!-- 这个还是要从数据库获取信息 用ejs吗 -->
	<div>
		<img src="" alt="课程封面图">
		课程名称<br>
		开课时间： yyyy年mm月nn日 ~ yyyy年mm月nn日 <br>
		进行至第x周，共n周<br>
		学时安排： 2-3小时每周<br>

		<button>参加</button>
		<!-- 已参加显示进入学习 -->
	</div>

	<div>
		课程简介<br>
		<p>...</p>
		课程概述<br>
		<p>...</p>
		授课目标<br>
		<p>...</p>
		课程大纲<br>
		<p>...</p>
		预备知识<br>
		<p>...</p>
		参考资料<br>
		<p>...</p>
		FAQ<br>
		<p>...</p>
	</div>

	<!-- right -->
	<div>
		授课老师<br><br>
		XXX<br><br>
		XXX<br><br>
		XXX<br><br>
		XXX<br><br>
	</div>

	<footer>
		<!-- 此处应引入footer -->
	</footer>
</body>
</html>