<!DOCTYPE html>
<html>
<head>
	<title>MOOC微课程学习平台</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="">
	<!-- <script src="ajax.js" charset="utf-8"></script> -->
	<script src="http://cdn.staticfile.org/twitter-bootstrap/3.3.1/js/bootstrap.min.js" type="text/javascript"></script>
</head>

<body>
  <nav role="navigation" class="navbar navbar-inverse navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <!-- <a href="" class="">MOOC微课程学习平台</a> -->
    </div>
    <div id="" class="">
      <ul class="nav navbar-nav">
      <!--   <li class="layout-shouye active"><a href="/before/index">首页</a></li>

          <li class="layout-info"><a href="">个人信息</a></li>
          <li class="layout-mailer"><a href="">发邮件</a></li>
          <li class="layout-cheerio"><a href="">爬虫</a></li>
          <li class="layout-download"><a href="">下载</a></li>
          <li><a href="/before/logout">退出</a></li> -->

      </ul>
    </div>
  </nav>