<!DOCTYPE html>
<html>
<head>
	<title>MOOC微课程学习平台</title>
</head>
<body>
	<header>
		<!-- 此处应引入header -->
	</header>

	<div>
		<img src="" alt="获取用户头像">
		用户名，早上好/中午好/晚上好
		<!-- 根据时间显示 -->
	</div>

	<div>
		获取用户学习列表
		<!-- 还是要从数据库获取 -->
		<!-- 还是要分页 -->
	</div>


	<footer>
		<!-- 此处应引入footer -->
	</footer>
</body>
</html>